.container{
    display: flex;
    flex-direction: column;
    height: 700px;
}

.flex-item{
    border: 1px solid red;
    height: 50px;
    width: 50px;    
    display: flex;
    align-items: center;
    justify-content: center;

}

.flex-item:nth-child(3n+1){
    align-self: flex-start;
}

.flex-item:nth-child(3n+2){
    align-self: center;
}

.flex-item:nth-child(3n){
    align-self: flex-end;
}